.about {
  margin-top: 155px;
}

.about__wrapper {
  padding-left: 175px;
}

.caption {
  font-family: $custom-font;
  font-weight: 700;
  margin: 0;
  font-size: 53px;
}

.about__list {
  @include list-style;
  display: grid;
  grid-template-columns: 265px 325px;
  column-gap: 84px;
  row-gap: 26px;
  
}

.about__text {
  @include font-bold;
  font-size: 20px;
  margin: 0;
}

.about__item-one {
  position: relative;
  max-width: 229px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_1.svg.svg);
    width: 33px;
    height: 38px;
    top: 22px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about__item {
  padding-top: 75px;
}

.about__item-two {
  position: relative;
  max-width: 256px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_4.svg);
    width: 35px;
    height: 34px;
    top: 27px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about__item-three {
  position: relative;
  max-width: 256px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_2.svg);
    width: 47px;
    height: 27px;
    top: 25px;
    left: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about__item-four {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_5.svg);
    width: 55px;
    height: 23px;
    top: 28px;
    left: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about__item-five {
  position: relative;
  max-width: 229px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_3.svg);
    width: 34px;
    height: 27px;
    top: 28px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.about__item-six {
  position: relative;
  max-width: 256px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/about_icon_6.svg);
    width: 33px;
    height: 32px;
    top: 22px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
