.contacts {
  margin-top: 152px;
  margin-bottom: 109px;

  @media (max-width:$max-tablet-width) {
    margin-top: 109px;
    margin-bottom: 58px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 91px;
    margin-bottom: 58px;
 }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 522px;
  position: relative;

  @media (max-width:$max-tablet-width) {
    grid-template-columns: none;
    
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(/src/img/contacts_flag.svg);
    width: 47px;
    height: 81px;
    top: 65px;
    left: 62px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width:$max-tablet-width) {
      top: -21px;
      left: auto;
      right: 0;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
   }
  }
  }



.contacts_caption{
  font-family: $custom-font;
  font-weight: 700;
  margin: 0;
  font-size: 53px;

  @media (max-width:$max-tablet-width) {
    font-size: 43px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
    margin-bottom: 35px;
 }
}

.contacts_description {
  padding-left: 175px;
  margin-top: 77px;
  
  @media (max-width:$max-tablet-width) {
    padding-left: 0;
    margin-top: 0;
  }

}

.contacts__table {
  border-spacing: 6px 0px;
    width: 249px;
    border: transparent;
    margin-top: 37px;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;

    @media (max-width:$max-tablet-width) {
      display: none;
    }

    @media (max-width: $max-mobile-width) {
      display: inline;
      font-size: 14px;
    }
  }

  .contacts__info-email {
    @media (max-width:$max-tablet-width) {
      width: 63px;
    }
  }

  .contacts__table-tablet {
    display: none;

    @media (max-width:$max-tablet-width) {
      display: inline;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

.contacts__table-item {
  padding-bottom: 32px;

  @media (max-width:$max-tablet-width) {
    padding-bottom: 0;
    padding-left: 55px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 0;
    padding-bottom: 32px;
 }
}

.contacts__table-item-adress {
  padding-top: 30px;
  padding-left: 17px;

  @media (max-width:$max-tablet-width) {
    padding-top: 47px;
    padding-left: 17px;
  }
}

.contacts__list {
  @include list-style;
  margin-top: 40px;
}

.contacts__item {
  display: flex;
  margin-top: 35px;
}

.contacts__info {
  @include font-regular-grey;
  
}

.contacts__info-link {
  @include font-regular-grey;
  margin-left: 16px;
  text-decoration: none;
  position: relative;

  @media (max-width:$max-tablet-width) {
     margin-left: 0;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 218px;
    height: 1px;
    background-color: $green;
    top: 31px;
    left: 0;

    @media (max-width:$max-tablet-width) {
      width: 192px;
      top: 23px;
   }
  }
}

.contacts__info-address {
  @include font-regular-grey;
  line-height: 30px;

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
 }
}


.contacts__map {
  @media (max-width:$max-tablet-width) {
    margin-top: 39px;
 }
}

.contacts__map-button {
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  height: 100%;
  &::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(/src/img/map_pin.svg);
    width: 67px;
    height: 100px;
    top: 156px;
    left: 245px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width: $max-mobile-width) {
     top: 32px;
     left: 122px;
   }
  }
  }


.contacts__button {
  @include font-bold-grey;
  background-color: transparent;
  margin: 0;
  padding: 13px 39px;
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 176px;
  margin-top: -54px;
  grid-row: 2/2;
  justify-self: start;
  align-self: center;

  @media (max-width:$max-tablet-width) {
    margin-left: 0;
  grid-row: 3/4;
  margin-top: 52px;
  justify-self: center;
  }

  &:hover {
    background-color: $hero-grey;
    color: $basic-white;
  }
}

.contacts__map-img {
  object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
