.featured {
  margin-top: 54px;
  @media (max-width:$max-tablet-width) {
    margin-top: 46px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 31px;
}
}

.featured__wrapper {
  display: grid;
  grid-template-columns: 1fr 525px;
  padding-left: 178px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/featured_zigzag_desktop.svg);
    width: 100%;
    height: 23px;
    bottom: -92px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width:$max-tablet-width) {
      bottom: -69px;
    }

    @media (max-width:$max-tablet-width) {
      
    }
  }

  &::before {
    content: "товар недели";
    position: absolute;
    color: $green;
    max-width: 100px;
    top: 61px;
    left: 32px;
    font-family: $custom-font;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width:$max-tablet-width) {
      top: -15px;
      right: 10px;
      left: auto;
    }

    @media (max-width: $max-mobile-width) {
      top: 33px;
      right: auto;
      left: 0;
      max-width: 100%;
  }
  }

  @media (max-width:$max-tablet-width) {
    padding-left: 0;
    grid-template-columns: 1fr 334px;
  }

  @media (max-width: $max-mobile-width) {
    grid-template-columns: none;
    display: none;
}
}

.featured__wrapper-modile {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: inline;
}
}

.featured__description {
  margin-top: 50px;

  @media (max-width:$max-tablet-width) {
    margin-top: 0;
  }
}

.featured__img-inner {
  @media (max-width:$max-tablet-width) {
    margin-top: 86px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 21px;
    text-align: center;
}
}

.featured__img {
  object-fit: contain;
  object-position: center;
  background-repeat: no-repeat;

  @media (max-width:$max-tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (max-width: $max-mobile-width) {
    width: 260px;
    height: 315px;
}
}


.featured__caption {
  font-family: $custom-font;
  font-weight: 700;
  margin: 0;
  font-size: 53px;
  margin-top: -22px;
  position: absolute;

  @media (max-width:$max-tablet-width) {
    font-size: 43px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 25px;
    margin-top: 0;
    position: inherit;
}
}

.featured__text {
  @include font-regular;
  margin: 0;
  margin-top: 99px;
  color: $hero-grey;
  max-width: 292px;
  line-height: 30px;
  @media (max-width:$max-tablet-width) {
    margin-top: 73px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 15px;
    line-height: 24px;
    max-width: 259px;
    margin-top: 37px;
}
}

.featured__tab {
    border-spacing: 0px 19px;
    width: 256px;
    border: transparent;
    margin-top: 42px;
    color: $hero-grey;
    font-family: $custom-font;
    font-size: 15px;
    font-weight: 400;
    @media (max-width:$max-tablet-width) {
      margin-top: 26px;
    }

    @media (max-width: $max-mobile-width) {
      margin-top: 10px;
  }
}

.featured__item {
  padding-right: 16px;
  position: relative;

  &::after {
        content: "";
        position: absolute;
        top: 32px;
        left: 0px;
        width: 289px;
        height: 1px;
        background-color: $header-grey;

        @media (max-width:$max-tablet-width) {
          width: 258px;
        }
      }
}

.featured__price {
  margin-top: 99px;
  font-size: 20px;
  font-weight: 700;
  font-family: $custom-font;
  text-align: center;
  display: block;
  max-width: 294px;
  @media (max-width:$max-tablet-width) {
    margin-top: 49px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 17px;
    margin-top: 21px;
}
}

.featured__price-mobile {
  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

.featured__button {
  margin: 0;
  background-color: transparent;
  margin-top: 31px;
  padding: 13px 98px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $custom-font;
  color: $hero-grey;
  cursor: pointer;

  &:hover {
    background-color: $hero-grey;
    color: $basic-white;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 23px;
    padding: 13px 83px;
}
}
