.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  padding-top: 51px;
  padding-bottom: 41px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__media-list {
  @include list-style;
  display: flex;
  align-items: center;
}

.footer__media-item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__media-html {
  display: flex;
  align-items: start;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.footer__media-html-text {
  @include font-bold;
  margin: 0;
  font-size: 19px;
  margin-right: 28px;
}


