.reviews {
  margin-top: 85px;
}

.reviews__wrapper {
  padding-left: 175px;
  padding-top: 71px;
  padding-bottom: 97px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(/src/img/reviews.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/featured_zigzag_desktop.svg);
    width: 1050px;
    height: 23px;
    bottom: -92px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.reviews__text {
  grid-column: 1/3;
}

.reviews__button-inner {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  margin-top: 55px;
}

.reviews__button-write {
  margin: 0;
  justify-self: end;
  align-self: center;
  background-color: transparent;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $custom-font;
  color: $hero-grey;
  padding: 13px 37px;
  cursor: pointer;

  &:hover {
    background-color: $hero-grey;
    color: $basic-white;
  }
}

.reviews__text {
  @include font-regular-grey;
  max-width: 797px;
  margin: 0;
  margin-top: 31px;
  line-height: 30px;
}

.reviews__name {
  @include font-bold;
  margin-top: 45px;
  font-size: 17px;
  display: block;
}

.reviews__id {
  @include font-regular-grey;
  margin-top: 7px;
  display: block;
}

.reviews__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.reviews__button-left {
  background-image: url('/src/img/reviews_left.svg');
  width: 50px;
  height: 26px;
  margin-right: 32px;
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }
}

.reviews__button-right {
    background-image: url('/src/img/reviews_right.svg');
    width: 50px;
    height: 26px;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
}
