.reviews {
  margin-top: 85px;

  @media (max-width:$max-tablet-width) {
    background-image: url(/src/img/review_tablet.png);
    background-repeat: no-repeat;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 58px;
    background-image: none;
}
}

.reviews__wrapper {
  padding-left: 175px;
  padding-top: 71px;
  padding-bottom: 97px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(/src/img/reviews.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(/src/img/featured_zigzag_desktop.svg);
    width: 100%;
    height: 23px;
    bottom: -92px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (max-width:$max-tablet-width) {
      bottom: -46px;
    }
  }

  @media (max-width:$max-tablet-width) {
    padding-left: 0;
    background-image: none;
  }

  @media (max-width: $max-mobile-width) {
    display: none;
}
}

.reviews__wrapper-modile {
  display: none;
  
  @media (max-width: $max-mobile-width) {
    display: inline;

}
}

.reviews__caption {
  font-family: $custom-font;
  font-weight: 700;
  margin: 0;
  font-size: 53px;
  @media (max-width:$max-tablet-width) {
    font-size: 43px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 25px;
}
}

.reviews__text {
  grid-column: 1/3;

  @media (max-width: $max-mobile-width) {
    
}
}

.reviews__button-inner {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  margin-top: 55px;

  @media (max-width:$max-tablet-width) {
    margin-top: 74px;
    text-align: center;
  }

  @media (max-width: $max-mobile-width) {
  margin-top: 46px;
}
}

.reviews__button-write-inner {
  @media (max-width: $max-mobile-width) {
    text-align: center;
    margin-top: 47px;
  }
}

.reviews__button-write {
  margin: 0;
  justify-self: end;
  align-self: center;
  background-color: transparent;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $custom-font;
  color: $hero-grey;
  padding: 13px 37px;
  cursor: pointer;

  &:hover {
    background-color: $hero-grey;
    color: $basic-white;
  }

  @media (max-width: $max-mobile-width) {
    padding: 13px 79px;
    font-size: 18px;
}
}

.reviews__text {
  @include font-regular-grey;
  max-width: 797px;
  margin: 0;
  margin-top: 31px;
  line-height: 30px;
  @media (max-width:$max-tablet-width) {
    margin-top: 38px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 14px;
    font-size: 15px;
}
}

.reviews__name {
  @include font-bold;
  margin-top: 45px;
  font-size: 17px;
  display: block;

  @media (max-width:$max-tablet-width) {
    margin-top: 61px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 33px;
}
}

.reviews__id {
  @include font-regular-grey;
  margin-top: 7px;
  display: block;
}

.reviews__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.reviews__button-left {
  background-image: url('/src/img/reviews_left.svg');
  width: 50px;
  height: 26px;
  margin-right: 32px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $max-mobile-width) {
    margin-right: 80px;
    margin-left: 36px;

}

  &:hover {
    opacity: 0.3;
  }
}

.reviews__button-right {
    background-image: url('/src/img/reviews_right.svg');
    width: 50px;
    height: 26px;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
}
