.contacts {
    margin-top: 152px;
}

.contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 522px;
    position: relative;
    &::after {
        display: block;
        content: '';
        position: absolute;
        background-image: url(/src/img/contacts_flag.svg);
        width: 47px;
        height: 81px;
        top: 65px;
        left: 62px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.contacts_description {
    padding-left: 175px;
    margin-top: 77px;
}

.contacts__list {
    margin: 0;
    list-style: none;
    padding: 0;
    margin-top: 29px;
}

.contacts__item{
    display: flex;
    margin-top: 35px;
}

.contacts__info {
    color: $hero-grey;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    font-family:  $custom-font;
}

.contacts__info-link {
    margin-left: 16px;
    text-decoration: none;
    color: $hero-grey;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 218px;
        height: 1px;
        background-color: $green;
        top: 31px;
        left: 0;
    }
}

.contacts__info-address {
    color: $hero-grey;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    padding-right: 75px;
    font-family:  $custom-font;
    line-height: 30px;
    margin-left: 33px;
}

.contacts__map-button {
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    &::after {
        display: block;
        content: '';
        position: absolute;
        background-image: url(/src/img/map_pin.svg);
        width: 67px;
        height: 100px;
        top: 156px;
        left: 245px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.contacts__button {
    background-color: transparent;
    margin: 0;
    padding: 13px 39px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $custom-font;
    color: $hero-grey;
    margin-top: 75px;
}