* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.container {
  max-width: 1050px;
  margin: 0 auto;

  @media (max-width:$max-tablet-width) {
    max-width: none;
    padding-right: 50px;
    padding-left: 50px;
  }

@media (max-width: $max-mobile-width) {
  padding-left: 30px;
  padding-right: 30px;

}

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
