.container {
    max-width: 1040px;
    margin: 0 auto;
}

.header {
    margin-top: 33px;
}

.header__wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 57px;
        left: calc(50% - 50vw);
        right: calc(50% - 50vw);
        width: 1102px;
        height: 1px;
        background-color: $header-grey;

    }
}

.header__logo {
    position: absolute;
    top: -20px;
    left: -23px;
}
.header__nav-text {
    font-family: $custom-font;
    font-size: 17px;
    font-weight: 700;
    color: $basic-black;
    margin: 0;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 225px 1fr 1fr auto 1fr;
}

.header__nav-link {
    text-decoration: none;
}

.header__nav-link-catalog {
    &::after {
        content: '';
        position: absolute;
        top: -36px;
        left: 189px;
        width: 1px;
        height: 94px;
        background-color: $header-grey;
}
}

.header__nav-item {
    position: relative;
}

.header__nav-item-car {
    justify-self: end;
}

.header__nav-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    padding-right: 40px;

    &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background-image: url(/src/img/header_search.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }
        &::after {
            content: '';
            position: absolute;
            top: -36px;
            left: -29px;
            width: 1px;
            height: 94px;
            background-color: $header-grey;
            }
}
    .header__nav-link-car {
        display: flex;
        align-items: center;
        &::before {
            content: "";
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            background-image: url(/src/img/header_cart.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-right: 35px;
            margin-left: 23px;
            }
             &::after {
            content: '';
            position: absolute;
            top: -36px;
            left: -5px;
            width: 1px;
            height: 94px;
            background-color: $header-grey;
            }
    }